---
layout: default
---
<div class="home">
<div>
<!-- <img src="/{{site.baseurl}}/images/vector-space.jpg"  style="width:200px;height:200px;">
<img src="/images/wordvec.png"  style="width:400px;height:200px;"> -->
<img src="{{ "/images/vector-space.jpg" | prepend: site.baseurl }}" style="width:200px;height:200px;">
<img src="{{ "/images/wordvec.png" | prepend: site.baseurl }}" style="width:400px;height:200px;">
</div>
  <!-- <h1 class="page-heading">Posts</h1> -->

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->
  <p>This is a site where i explain basic NLP and Deep Learning Concepts and give random tutorials related to computer science</p>
  <br>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
<ul>
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i> Twitter
    </a>
  </li>
{% endif %}
{% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i> GitHub
    </a>
  </li>
{% endif %}
{% if site.linkedin %}
  <li>
    <a href="https://linkedin.com/in/{{ site.linkedin }}">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>
  </li>
{% endif %}
</ul>
